* {
   padding: 0;
   margin: 0;
   font-family:'MinecraftiaRegular', "Roboto", sans-serif, "Times New Roman";
   background-color: #3e1c00 ;
}

html, body {
   height: 100%;
}

body {
   display: grid;

   grid-template-columns: 1fr 3fr;
   grid-template-rows: 1fr 4fr;

   height: 100%;
}


#titlebar {
   align-self: center;

   background-color: #4C301E;
   color: #A05B0B;

   display: grid;

   font-family: 'MinecraftiaRegular';
   font-size: 5vw;

   grid-column: 1 / 3;
   grid-row: 1 / 2;

   justify-content: center;

   margin: 2%;
}

#bookshelf {
   background-color: #4C301E;

   display: grid;

   grid-column: 2 / 3;
   grid-row: 2 / 3;

   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);

   margin-block: 2%;
   margin-inline: 2.5%;
}

.aBook{
   background-color: #432919;

   display: grid;

   align-items: center;
   justify-content: center;

   margin: 20px;
   
   text-align: center;
}

.aBook > div {
   background-color: #432919;
   color: #A05B0B;
}

.author {
   position: relative;
   top: 100px;
}

.pages {
   position: relative;
   top: 50px;
   left: 10px;

   text-align: right;
}

#sidebar {
   background-color: #4C301E;

   display: grid;

   grid-column: 1 / 2;
   grid-row: 2 / 3;

   margin-block: 6%;
   margin-inline: 8%;
}

.tab{
   background-color: #4C301E;

   display: grid;

   justify-content: center;
}