* {
   padding: 0;
   margin: 0;
   font-family: "Roboto", sans-serif, "Times New Roman";
   background-color: #3e1c00 ;
}

html, body {
   height: 100%;
}

body {
   display: grid;

   grid-template-columns: 1fr 3fr;
   grid-template-rows: 1fr 4fr;

   height: 100%;
}
/* 
#titlebar, #container {
   
} */

#titlebar {
   align-self: center;

   background-color: #4C301E;
   color: #A05B0B;

   display: grid;

   font-family: 'MinecraftiaRegular';
   font-size: 5vw;

   grid-column: 1 / 3;
   grid-row: 1 / 2;

   justify-content: center;

   margin: 2%;
}

#container {
   background-color: #4C301E;

   grid-column: 2 / 3;
   grid-row: 2 / 3;

   margin-block: 2.5%;
   margin-inline: 2.5%;
}

#sidebar {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
}